{
  "arrowParens": "always",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "embeddedLanguageFormatting": "auto",
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "jsxSingleQuote": false,

  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "requirePragma": false,

  "singleAttributePerLine": false,

  "trailingComma": "es5",

  "vueIndentScriptAndStyle": false,

  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true
}
